# Virtual environment
dddvenv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# macOS system files
.DS_Store

# test folders
test/

# Environment files
*.env
config/.env

# Model cache
models_cache/
outputs/

# User data
data/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/